# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
#.env
#.env.local
#.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Caché
.eslintcache
